.browse-menu__card {
	display: flex;
	flex-direction: column;

	padding: 2.5rem 2.125rem 2rem 2.125rem;
	border-radius: 0.75rem;
	border: 0.0938rem solid $card-background-color;

	background-color: $white-color;

	text-align: center;

	&-figure {
		@include df-center;
		flex-direction: column;
		gap: 1.875rem;
		margin-bottom: 1.875rem;
	}

	&-caption {
		@include df-center;
		gap: 0.9375rem;
		flex-direction: column;
	}

	&-title {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 125%;
		letter-spacing: -0.045rem;
		color: $heading-color;
	}

	&-text {
		color: $text-color;
		line-height: 150%;
	}

	&-link {
		display: block;
		margin-top: auto;

		font-weight: 700;
		line-height: 150%;
		color: $text-highlight-color;
		transition: all 0.2s ease;

		&:hover {
			color: $mint-green;
			text-shadow: $btn-box-shadow;
		}

		&:active {
			transform: scale(0.98);
		}
	}
}
