.recipe-detail__accordion-list {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out; // Добавляем плавный переход
	list-style: none;
	padding: 0;
	margin: 0;
}

.recipe-detail__accordion-ingredients--open,
.recipe-detail__accordion-instruction--open {
	max-height: 900px; // Установите максимальную высоту больше, чем предполагаемый контент
}

// Стили для элементов списка
.recipe-detail__accordion-item {
	padding: 8px 0;
}

// Добавьте эти базовые стили для аккордеона
.recipe-detail__accordion {
	width: 100%;
}

.recipe-detail__ingredients,
.recipe-detail__instructions {
	cursor: pointer;
}

.recipe-detail__accordion-title {
	margin: 10px 0;
}
