.contacts-card {
	padding: clamp(1.5625rem, 4vw, 3.125rem);
	background-color: $background-dark-gray;
	border-radius: clamp(.5rem, 1vw, .75rem);
	max-width: 25.6875rem;
	&__title {
		color: $white-color;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 125%;
		letter-spacing: -0.045rem;

		margin-bottom: clamp(1.875rem, 3vw, 2.8125rem);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: clamp(.9375rem, 2vw, 1.5625rem);
	}

	&__item {
		&:last-child {
			& > .contacts-card__link {
				& > svg {
					align-self: start;
				}
			}
		}
	}

	&__link {
		gap: clamp(.625rem, 2vw, 1.25rem);

		& > svg {
			min-width: 1.5rem;
			min-height: 1.5rem;
		}
	}
}
