.browse-menu__section {
	margin-bottom: 7.5rem;

	&-title {
		text-align: center;

		@include playfair-display(500, _, _);
		font-size: clamp(2rem, 7vw, 3.4375rem);
		line-height: 110%;

		margin-bottom: 4rem;
	}

	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 1.5rem;
	}
}


