.guest-info {
	padding: clamp(40px, 5vw, 120px) 0;
    background-color: $background-section;
    margin-bottom: clamp(2.5rem, 8vw, 6.125rem);
	& > .container {
		@include df-space-between;
	}

	&__article {
		display: flex;
		flex-direction: column;
        max-width: 610px
	}

	&__title {
		@include playfair-display;
		max-width: 540px;
		font-family: "Playfair Display";
		font-size: clamp(2.5rem, 8vw, 3.4375rem);
		font-weight: 500;
		line-height: 110%;
		margin-bottom: 1.25rem;
	}

	&__text {
		color: $text-color;
        margin-bottom: clamp(20px, 3vw, 60px);
        max-width: 34.375rem;
	}
    &__list {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }

    &__img{
        border-radius: .75rem;
    }
}
