.featured-menu__card {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 40px 34px 32px 34px;
	border: 0.0938rem solid $card-border-color;
	border-radius: 12px;
	background-color: $white-color;

	&-figure {
		@include df-center;
		gap: 1.875rem;
		margin-bottom: 1.875rem;
		flex-direction: column;
	}

	&-title {
		font-size: 24px;
		font-weight: 700;
		line-height: 125%;
		letter-spacing: -0.72;
		margin-bottom: 15px;
		color: $heading-color;
	}

	&-text {
		color: $text-color;
	}

	&-link {
		font-weight: 700;
		color: $text-highlight-color;
		margin-top: auto;
	}
}
