.top-bar {
	width: 100%;
	padding: 0.5625rem;

	background-color: $background-dark-gray;

	& > .container {
		@include df-space-between;
	}

	&__contacts {
		&-list {
			@include df-full-center;
			gap: 1.5625rem;
		}

		&-item {
			@include df-full-center;
			gap: 0.5rem;

			& > svg {
				color: $text-light;
				width: 1.125rem;
				height: 1.125rem;
				display: flex;
				align-items: center;
			}

			&:last-child {
				display: none;
			}
		}

		&-link {
			color: $text-light;
		}
	}

	&__social-media {
		&-list {
			@include df-full-center;
			gap: 0.5rem;
		}

		&-link {
			color: $text-light;

			& > svg {
				width: 1.125rem;
				height: 1.125rem;
				display: flex;
				align-items: center;
			}
		}
	}
}
