.top-bar {
	width: 100%;
	background-color: $background-dark-gray;
	padding: 0.5625rem 0;

	& > .container {
		@include df-space-between;
	}

	&__list {
		@include df-center;

		&-item {
			@include df-center;
		}

		&-link {
			@include df-center;
			color: #f9f9f7;
			line-height: 150%;
			gap: 9px;

			transition: color 0.2s ease;
			& > svg {
				width: 18px;
				height: 18px;
			}

			&:hover {
				color: $tomato-red;
			}
		}

		&--contacts {
			gap: 1.5625rem;
		}

		&--social-media {
			gap: 0.5rem;
		}
	}
}
