.menu-card {
	text-align: center;

	&__figure {
		display: flex;
		flex-direction: column;
	}
	&__image {
		display: flex;
		border-radius: 12px 12px 0px 0px;
		width: 100%;
		height: 230px;
		object-fit: cover;
	}
	&__caption {
		display: flex;
		flex-direction: column;
		gap: 10px;
		border-bottom: 0.0938rem solid $card-border;
		border-left: 0.0938rem solid $card-border;
		border-right: 0.0938rem solid $card-border;
		padding: 20px;
		border-radius: 0 0 12px 12px;
	}
	&__price {
		font-size: 24px;
		font-weight: 700;
		line-height: 125%; /* 125% */
		letter-spacing: -0.72px;
		color: $text-highlight;
	}

	&__title {
		font-size: 20px;
		font-weight: 700;
		line-height: 130%;
		color: $text-heading;
	}
	&__ingredients {
		color: $text-default;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		line-clamp: 1;
	}
}
