$background-dark-gray: #474747;
$background-highlight-color: #ad343e;
$hover-background-color: #dbdfd0;

$card-background-color: #dbdfd0;
$card-border-color: #dbdfd0;
$background-healthy-food-section-color :#f9f9f7;

$text-dark-gray: #474747;
$heading-color: #2c2f24;
$text-color: #414536;
$text-highlight-color: #ad343e;
$text-light: #f9f9f7;
$white-color: #fff;


$btn-dark-color: #182226;
$btn-dark-border-color: #2c2f24;

$btn-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$input-focus-color: #9b59b6;

$mint-green: #66d9b7;
$lime-green: #32cd32;
$forest-green: #2e8b57;
$olive-green: #6b8e23;
$light-tea-green: #98fb98;

$crimson-red: #dc143c;
$cherry-blossom: #ff6f61;
$pomegranate: #d83b3d;
$firebrick: #b22222;
$tomato-red: #ff6347;
