/* Pixel Perfect Reset CSS */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%; /* Устранение масштабирования текста в iOS */
	padding: 0;
	margin: 0;
}

/* Отмена стилей списков */
ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Отмена стилей ссылок */
a {
	text-decoration: none;
	padding: 0;
	margin: 0;
}

/* Убрать стили для input, textarea и button */
input,
textarea,
button {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	border: none;
	outline: none;
	background: none;
	// appearance: none;
	resize: none;
}

/* Убрать стандартные отступы для списков */
ul,
ol {
	padding: 0;
	margin: 0;
}

/* Убрать стандартные отступы для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

/* Убрать стандартные отступы для абзацев */
p {
	padding: 0;
	margin: 0;
}

/* Убрать стандартные отступы для кнопок */
button {
	cursor: pointer;
	padding: 0;
	margin: 0;
}

/* Убрать стандартные отступы для изображений */
img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	margin: 0;
	padding: 0;
}

/* Прижатие  футера к низу */

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex: 1; /* Заставляет main занимать оставшееся пространство */
	display: flex; /* Для использования флекс-контейнера, если нужно */
	flex-direction: column; /* Если у вас есть несколько элементов внутри */
}

footer {
	margin-top: auto; /* Футер прижат к низу */
	display: flex; /* Флекс для футера, если нужно выровнять элементы внутри */
}
