.recipes-articles {
	background-color: $background-section;
	padding-top: clamp(2.5rem, 0.945rem + 8.293vw, 7.813rem);
	padding-bottom: clamp(3.125rem, 1.296rem + 9.756vw, 9.375rem);

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4rem;
	}

	&__title {
		@include playfair-display;
		font-family: "Playfair Display";
		font-size: 55px;
		font-weight: 500;
		line-height: 110%;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 1.5rem;

		& > li {
			&:nth-child(1) {
				grid-column: span 2 / span 2;
				grid-row: span 2 / span 2;
			}

			&:first-child {
				p {
					display: block;
				}

				img {
					height: 100%;
				}
			}
		}
	}
}
