.main-header {

	&__nav {
		@include df-space-between;
        padding-top:29px;
        margin-bottom: 20px;
	}

	&__logo {
		@include df-center;
		gap: 0.875rem;

		&-text {
			@include playfair-display(600, italic, 2.6667rem);
			line-height: 68.75%;
			letter-spacing: -0.025rem;

			color: $text-dark-gray;
		}
	}

	&__list {
		@include df-center;
		gap: 0.5rem;

		&-link {
			font-weight: 500;
			line-height: 150%;

			color: $heading-color;

			@include hover-active-animation;
		}
	}

	&__button {
		padding: 0.75rem 1.5rem;
	}
}


.active {
	background-color: $hover-background-color;
}
