.social-media {
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: .3125rem;
		border-radius: 50%;
		background-color: color.adjust($background-dark-gray, $lightness: 9%);

        &--active{
            background-color: $background-highlight-color;
            padding: 8px;
        }
	}

	&__link {
		@include df-center;
		color: $text-light;

		& > svg {
			width: 1rem;
			height: 1rem;
		}

        &--active {
            & > svg {
                width: 1.18rem;
                height: 1.18rem;
            }
        }
	}

   
}
