.recipes-page {
	padding-top: clamp(2.5rem, 2.01rem + 2.705vw, 4.25rem);
	padding-bottom: clamp(2.5rem, 0.784rem + 9.469vw, 8.625rem);
	position: relative;
	&::before {
		content: "";
		position: fixed; /* Чтобы фон не двигался при скролле */
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: $background-section;
		z-index: -1; /* Отправляем фон назад */
	}

	& > .container {
		@include df-full-center;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 1.5rem;
		font-size: clamp(2.5rem, 1.449rem + 5.797vw, 6.25rem);
		text-align: center;
	}

	&__text {
		max-width: 39.5rem;
		text-align: center;
		margin-bottom: clamp(2.5rem, 1.94rem + 3.092vw, 4.5rem);
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: clamp(0.938rem, 0.78rem + 0.87vw, 1.5rem);
	}
	&__item {
		flex: 1 1 290px;
	}
	&__link {
		color: $text-heading;
	}

	&__pagination-nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin-top: 30px;
		padding: 10px 0;
		background-color: $background-section;
	}

	&__pagination-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		padding: 0;
		background-color: $white-color;
		border: 1px solid #0000002f;
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.3s ease;
		color: $text-default; // #414536 -
		box-shadow: $btn-box-shadow;

		&:hover:not(:disabled) {
			background-color: color.adjust($background-hover, $lightness: 20%);
			border-color: #0000002f;
			color: color.adjust($lime-green, $lightness: 10%);
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
			background-color: $card-background;
			border-color: $card-border;
			color: $text-subtext;
		}

		svg {
			width: 16px;
			height: 16px;
		}
	}

	&__pagination-current {
		@include playfair-display;
		min-width: 120px; 
		text-align: center;
		font-size: 25px;
		font-weight: 500;
		color: $text-heading;
		padding: 5px 10px;
	}
}
