.testimonials-card {
	width: 100%;

	padding: 45px 35px 35px 35px;
	background-color: $background-testimonials;
	border-radius: 0.75rem;
	&__content {
		padding-bottom: clamp(1.375rem, 1.192rem + 0.976vw, 2rem);
		margin-bottom: clamp(1.375rem, 1.192rem + 0.976vw, 2rem);
		position: relative;

		&::after {
			content: "";
			position: absolute;
			background-color: $card-border-color;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 1px;
		}
	}

	&__quote {
		display: block;
		font-size: clamp(1.125rem, 1.015rem + 0.585vw, 1.5rem);
		font-weight: 700;
		line-height: 125%;
		letter-spacing: -0.045rem;
		color: $text-highlight-color;

		margin-bottom: clamp(1.125rem, 1.015rem + 0.585vw, 1.5rem);
	}

	&__text {
		font-size: clamp(0.75rem, 0.64rem + 0.585vw, 1.125rem);
		line-height: 155.556%;
		color: $text-color;
	}

	&__profile {
		@include df-align-center;
		gap: 1.25rem;
	}
	&__image {
		border-radius: 4.375rem;
		object-fit: cover;
	}

	&__name {
		font-weight: 700;
		margin-bottom: 0.1875rem;
	}
}
