
.healthy-food__info-card {
	padding: clamp(1rem, 5vw, 3.125rem);
	border-radius: 0.75rem;
	background-color: $background-dark-gray;
	max-width: 411px;
	position: absolute;
	bottom: -3.125rem;
	right: -3.125rem;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

	&-title {
		color: $white-color;
		font-size: clamp(1rem, 2.5vw, 1.5rem);
		font-weight: 700;
		line-height: 125%;
		letter-spacing: -0.72px;
		margin-bottom: 45px;
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}

	&-item {
		display: flex;
		align-items: center;
		gap: 20px;

		& > svg {
			color: $text-light;
			min-width: 1.5rem;
			min-height: 1.5rem;
		}
	}

	&-link {
		color: $text-light;
		line-height: 150%;
	}

	@media (max-width: 768px) {
		position: relative;
		bottom: 0;
		right: 0;
		margin-top: 20px;
		width: 100%;
		max-width: none;
	}
}